/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  bottom: 0;
  padding: 24px;
  position: fixed;
  right: 0;
  z-index: 3;
}

#zoom-buttons {
  display: inline-block;
}

#main-zoom {
  background-color: rgb(27, 168, 243);
  display: block;
  margin: auto;
  margin-top: 2em;
  overflow: visible;
}

#fit-to-width-button {
  display: block;
  margin: auto;
  margin-top: 2em;
  overflow: visible;
}

#fit-to-page-button {
  display: block;
  margin: auto;
  overflow: visible;
}

