<link rel="import" href="chrome://resources/polymer/v0_8/polymer/polymer.html">

<dom-module id="viewer-button">
  <link rel="import" type="css" href="viewer-button.css">
  <template>
    <div id="icon"></div>
  </template>
</dom-module>
<script src="viewer-button.js"></script>
