<link rel="import" href="chrome://resources/polymer/v0_8/polymer/polymer.html">
<link rel="import" href="chrome://resources/cr_elements/v0_8/cr_checkbox/cr_checkbox.html">
<link rel="import" href="chrome://resources/cr_elements/v0_8/cr_events/cr_events.html">
<link rel="import" href="chrome://md-settings/pref_tracker/pref_tracker.html">

<dom-module id="cr-settings-checkbox">
  <link rel="import" type="css" href="checkbox.css">
  <template>
    <cr-events id="events"></cr-events>
    <cr-settings-pref-tracker pref="[[pref]]"></cr-settings-pref-tracker>

    <cr-checkbox id="checkbox" checked="{{pref.value}}"
        disabled="[[pref.disabled]]">
      <span class="main-label">{{label}}</span>
      <span class="sub-label">{{subLabel}}</span>
    </cr-checkbox>
  </template>
  <script src="checkbox.js"></script>
</dom-module>
