/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  margin-bottom: 10px;
  margin-top: 10px;
}

#checkbox {
  -webkit-margin-end: 10px;
}

.main-label {
  -webkit-margin-end: 10px;
}

.sub-label {
  color: rgba(0, 0, 0, .5);
}
