/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

#oauth-enrollment {
  height: 528px;
  padding: 0;
  width: 448px;
}

#oauth-enrollment.saml {
  height: 528px;
  width: 562px;
}

#oauth-enroll-step-contents {
  color: #666;
  height: 100%;
  width: 100%;
}

#oauth-enroll-step-contents > div {
  display: none;
}

.oauth-enroll-state-error #oauth-enroll-step-error,
.oauth-enroll-state-success #oauth-enroll-step-success {
  display: table;
  height: 480px;
  margin: 0 auto;
}

.oauth-enroll-state-working #oauth-enroll-step-signin,
.oauth-enroll-state-attribute-prompt-error
    #oauth-enroll-step-attribute-prompt-error,
.oauth-enroll-state-signin #oauth-enroll-step-signin,
.oauth-enroll-state-attribute-prompt
    #oauth-enroll-step-attribute-prompt {
  display: block;
  height: 100%;
  width: 100%;
}

#oauth-enroll-auth-view-container,
#oauth-enroll-auth-view {
  display: block;
  height: 100%;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

#oauth-enrollment.mode-manual #oauth-enroll-learn-more-link,
#oauth-enrollment.mode-forced #oauth-enroll-learn-more-link,
#oauth-enrollment.mode-recovery #oauth-enroll-learn-more-link {
  display: inline;
}

.oauth-enroll-step-content {
  display: table-cell;
  vertical-align: middle;
}

.oauth-enroll-step-message {
  display: inline-block;
  max-width: 400px;
  text-align: left;
  vertical-align: top;
}

.oauth-enroll-link {
  color: rgb(17, 85, 204);
  cursor: pointer;
  text-decoration: none;
}

.oauth-enroll-button {
  display: none;
}

#oauth-enroll-back-button,
#oauth-enrollment.saml #oauth-enroll-back-button {
  display: none;
}

.oauth-enroll-state-signin #oauth-enroll-back-button {
  display: inline;
}

.oauth-enroll-state-signin.mode-manual #oauth-enroll-cancel-button,
.oauth-enroll-state-signin.mode-forced #oauth-enroll-refresh-button,
.oauth-enroll-state-signin.mode-recovery #oauth-enroll-refresh-button,
.oauth-enroll-state-working.mode-manual #oauth-enroll-cancel-button,
.oauth-enroll-state-working.mode-forced #oauth-enroll-refresh-button,
.oauth-enroll-stain-working.mode-recovery #oauth-enroll-refresh-button,
.oauth-enroll-state-error.mode-manual #oauth-enroll-cancel-button,
.oauth-enroll-state-error.mode-manual #oauth-enroll-done-button,
.oauth-enroll-state-success #oauth-enroll-done-button {
  display: inline;
}

#oobe.oauth-enrollment #header-oauth-enrollment {
  display: block;
}

#oauth-saml-notice-container {
  -webkit-margin-start: 19px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: start;
  top: 15px;
}

#oauth-enrollment.saml {
  padding-top: 47px;
}

#oauth-enrollment.saml #oauth-enrollment-controls,
#oauth-enrollment.saml #oauth-enroll-signin-link-container {
  -webkit-padding-end: 17px;
}

#oauth-enrollment:not(.saml) #oauth-saml-notice-container {
  display: none;
}

#oauth-saml-notice-message {
  color: rgb(106, 106, 106);
  font-size: 13px;
  margin: 0 auto;
}

#oauth-enroll-cancel-button,
#oauth-enroll-back-button,
#oauth-enroll-refresh-button {
  position: absolute;
  top: 10px;
  z-index: 1;
}

#oauth-enroll-cancel-button,
#oauth-enroll-refresh-button {
  color: rgba(0, 0, 0, .54);
  right: 10px;
}

html[dir=rtl] #oauth-enroll-cancel-button,
html[dir=rtl] #oauth-enroll-refresh-button {
  left: 10px;
  right: auto;
}

#oauth-enrollment.saml #oauth-enroll-cancel-button,
#oauth-enrollment.saml #oauth-enroll-refresh-button {
  color: rgba(0, 0, 0, .54);
}

.oauth-enroll-state-signin #oauth-enroll-cancel-button,
.oauth-enroll-state-working #oauth-enroll-cancel-button,
.oauth-enroll-state-signin #oauth-enroll-refresh-button,
.oauth-enroll-state-working #oauth-enroll-refresh-button {
  color: white;
}

#oauth-enroll-back-button {
  color: white;
  left: 10px;
}

html[dir=rtl] #oauth-enroll-back-button {
  -webkit-transform: scaleX(-1);
  left: auto;
  right: 10px;
}

#oauth-enrollment.saml #oauth-enroll-back-button {
  display: none;
}

#oauth-enroll-attribute-prompt-message {
  color: black;
}

#oauth-enroll-skip-button {
  min-width: 0;
}

#oauth-enroll-attribute-input {
  padding-top: 24px;
}
