<!-- Copyright 2015 The Chromium Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file. -->

<div id="oauth-enrollment" class="step no-logo hidden" hidden>
  <div id="oauth-enroll-step-contents">
    <div id="oauth-enroll-step-signin">
      <div id="oauth-enroll-auth-view-container"></div>
    </div>
    <div id="oauth-enroll-step-error">
      <notification-card id="oauth-enroll-error-card" type="fail"
          i18n-values="buttonLabel:oauthEnrollRetry">
      </notification-card>
    </div>
    <div id="oauth-enroll-step-success">
      <notification-card id="oauth-enroll-success-card" type="success"
          i18n-values="buttonLabel:oauthEnrollDone"
          i18n-content="oauthEnrollSuccess">
      </notification-card>
    </div>
    <div id="oauth-enroll-step-attribute-prompt">
      <gaia-card id="oauth-enroll-attribute-prompt-card">
        <div class="header" flex vertical layout end-justified start>
          <h1 class="welcome-message" style="text-transform:capitalize"
              i18n-content="oauthEnrollScreenTitle"></h1>
          <p class="enterprise-info"
              i18n-content="oauthEnrollDeviceInformation"></p>
        </div>
        <div class="footer" flex vertical layout justified>
          <div class="oauth-enroll-step-message">
            <span id="oauth-enroll-attribute-prompt-message"
                  i18n-content="oauthEnrollAttributeExplanation"></span>
            <a href="#" id="oauth-enroll-learn-more-link"
               class="oauth-enroll-link"
               i18n-content="oauthEnrollExplaneAttributeLink"></a>
            <gaia-input-form id="oauth-enroll-attribute-input"
                             i18n-values="buttonText:oauthEnrollNextBtn">
              <gaia-input id="oauth-enroll-asset-id"
                          type="text"
                          i18n-values="label:oauthEnrollAssetIdLabel">
              </gaia-input>
              <gaia-input id="oauth-enroll-location"
                          type="text"
                          i18n-values="label:oauthEnrollLocationLabel">
              </gaia-input>
              <gaia-paper-button noink id="oauth-enroll-skip-button"
                                       class="link-button"
                                       i18n-content="oauthEnrollSkip">
              </gaia-paper-button>
            </gaia-input-form>
          </div>
        </div>
      </gaia-card>
    </div>
    <div id="oauth-enroll-step-attribute-prompt-error">
      <notification-card id="oauth-enroll-attribute-prompt-error-card"
          type="fail" i18n-values="buttonLabel:oauthEnrollDone">
      </notification-card>
    </div>
  </div>
  <div id="oauth-saml-notice-container">
    <span id="oauth-saml-notice-message"></span>
  </div>
  <div id="oauth-enrollment-controls" class="step-controls"></div>
  <button id="oauth-enroll-back-button" is="gaia-icon-button" icon="arrow-back"
      hidden i18n-values="aria-label:backButton" tabindex="0"></button>
  <button id="oauth-enroll-cancel-button" is="gaia-icon-button" icon="close"
      class="oauth-enroll-button" i18n-values="aria-label:closeButton"
      tabindex="0"></button>
  <button id="oauth-enroll-refresh-button" is="gaia-icon-button" icon="refresh"
      class="oauth-enroll-button" i18n-values="aria-label:closeButton"
      tabindex="0"></button>
</div>
