/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#pageselector {
  display: inline-block;
  width: 0.6em;
}

paper-input /deep/ ::-webkit-input-placeholder {
  color: rgb(241, 241, 241);
}

paper-input /deep/ .focused-line {
  background-color: rgb(241, 241, 241);
}

paper-input /deep/ .unfocused-line {
  background-color: transparent;
}

paper-input:hover /deep/ .unfocused-line {
  background-color: rgb(241, 241, 241);
}

paper-input /deep/ paper-input-container {
  padding: 0;
}

paper-input /deep/ paper-input-container /deep/ input#input {
  color: rgb(241, 241, 241);
  font-size: 1em;
  text-align: right;
}

#pagelength {
  color: rgb(144, 202, 251);
  font-size: 0.7em;
}
