<link rel="import" href="chrome://resources/polymer/v0_8/polymer/polymer.html">

<dom-module id="viewer-toolbar">
  <link rel="import" type="css" href="viewer-toolbar.css">
  <template>
    <div id="toolbar">
      <content></content>
    </div>
  </template>
</dom-module>
<script src="viewer-toolbar.js"></script>
