<link rel="import" href="chrome://resources/polymer/v0_8/polymer/polymer.html">
<link rel="import" href="chrome://resources/polymer/v0_8/paper-button/paper-button.html">
<dom-module id="route-details">
  <link rel="import" type="css" href="../../media_router_common.css">
  <link rel="import" type="css" href="route_details.css">
  <template>
    <div>
      <div id="back-to-devices" on-click="back_">
        <!-- TODO(apacible): The second <span> is a workaround for
        https://github.com/Polymer/polymer/issues/1571. Remove here and
        elsewhere once this is fixed. -->
        <span>[[backToSinkPickerText_]]</span>
      </div>
      <hr>
      <div id="route-information">
        <div id="route-title">
          <span>[[route.title]]</span>
        </div>
        <div id="route-status">
          <span>[[activityStatus_]]</span>
        </div>
      </div>
    </div>
    <div>
      <paper-button raised class="button" on-click="closeRoute_">
        <span>[[stopCastingButtonText_]]</span>
      </paper-button>
    </div>
  </template>
<script src="route_details.js"></script>
</dom-module>