<link rel="import" href="chrome://resources/polymer/v0_8/polymer/polymer.html">
<link rel="import" href="chrome://resources/polymer/v0_8/iron-icon/iron-icon.html">
<link rel="import" href="chrome://resources/cr_elements/v0_8/cr_input/cr_input.html">

<dom-module id="cr-search-engine-entry">
  <link rel="import" type="css" href="search_engine_entry.css">
  <template>
    <div class="entry">
      <div class="inputs">
        <cr-input id="domainField" class="narrow-input" auto-validate="false"
            value="{{engine.name}}" on-change="fieldChanged_" disabled required>
        </cr-input>
        <cr-input id="keywordField" class="narrow-input" auto-validate="false"
            value="{{engine.keyword}}" on-change="fieldChanged_" disabled
            required>
        </cr-input>
        <cr-input id="queryURLField" class="wide-input" auto-validate="false"
            value="{{engine.url}}" on-change="fieldChanged_" disabled required>
        </cr-input>
      </div>
      <div class="icons">
        <iron-icon id="checkIcon" icon="check" on-click="makeDefault_" hidden>
        </iron-icon>
        <iron-icon id="deleteIcon" icon="clear" on-click="deleteEngine_" hidden>
        </iron-icon>
        <iron-icon icon="settings" on-click="toggleEditable_"></iron-icon>
      </div>
    </div>
  </template>
  <script src="search_engine_entry.js"></script>
</dom-module>
