<link rel="import" href="chrome://resources/polymer/v0_8/polymer/polymer.html">
<link rel="import" href="chrome://resources/polymer/v0_8/paper-material/paper-material.html">
<link rel="import" href="search_engine_adder.html">
<link rel="import" href="search_engines_list.html">

<dom-module id="cr-settings-search-engines-page">
  <link rel="import" type="css" href="chrome://md-settings/settings_page/settings_page.css">
  <link rel="import" type="css" href="search_engines_page.css">
  <template>
    <paper-material>
      <div class="content">
        <cr-search-engine-adder></cr-search-engine-adder>

        <div class="list-label" i18n-content="searchEnginesLabel"></div>
        <cr-search-engines-list engines="[[defaultEngines]]">
        </cr-search-engines-list>

        <div class="list-label" i18n-content="searchEnginesOtherLabel"></div>
        <cr-search-engines-list engines="[[otherEngines]]">
        </cr-search-engines-list>
      </div>
    </paper-material>
  </template>
  <script src="search_engines_page.js"></script>
</dom-module>
