<link rel="import" href="chrome://resources/polymer/v0_8/polymer/polymer.html">
<link rel="import" href="chrome://resources/polymer/v0_8/paper-button/paper-button.html">
<dom-module name="issue-banner">
  <link rel="import" type="css" href="../../media_router_common.css">
  <link rel="import" type="css" href="issue_banner.css">
  <template>  
    <div hidden$="[[computeIsBlockingIssueHidden_(issue)]]">
      <div id="blocking-issue-header">
        <div id="sad-face"></div>
        <div>
          <div id="blocking-issue-title">[[issue.title]]</div>
          <div id="blocking-issue-message">[[issue.message]]</div>
        </div>
      </div>
      <div id="blocking-issue-buttons">
        <paper-button raised class="button" on-click="onClickOptAction_"
            hidden$="[[computeOptionalActionHidden_(issue)]]">
          <span>[[issue.optActionText]]</span>
        </paper-button>
        <paper-button raised class="button action"
            on-click="onClickDefaultAction_">
          <span>[[issue.defaultActionText]]</span>
        </paper-button>
      </div>
    </div>
    <div id="non-blocking-issue"
        hidden$="[[computeIsNonBlockingIssueHidden_(issue)]]">
      <div>[[issue.message]]</div>
      <!-- TODO(apacible): The second <span> is a workaround for
      https://github.com/Polymer/polymer/issues/1571. Remove here and
      elsewhere once this is fixed. -->
      <span class="issue-action" on-click="onClickOptAction_"
          hidden$="[[computeOptionalActionHidden_(issue)]]">
        <span>[[issue.optActionText]]</span>
      </span>
      <span class="issue-action" on-click="onClickDefaultAction_">
        <span>[[issue.defaultActionText]]</span>
      </span>
    </div>
  </template>
<script src="issue_banner.js"></script>
</dom-module>
